@import url("https://fonts.googleapis.com/css?family=Tajawal:100,200,300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Parisienne:100,200,300,400,600,700&display=swap");

/* universal styles */

:root {
    --jou-black: rgb(29, 29, 29);
    --jou-white: rgb(248, 248, 248);
    --jou-neutral-1: rgb(53, 53, 53);
    --jou-neutral-1-transparent: rgb(53, 53, 53, 0.7);
    --jou-neutral-2: rgb(98, 98, 98);
    --jou-neutral-2-transparent: rgb(98, 98, 98, 0.5);
    --jou-neutral-3: rgb(126, 126, 126);
    --jou-neutral-4: rgb(176, 176, 176);
    --jou-color: rgb(219, 183, 0);
}


/* themes - add this class to the html body */

:root .pink {
    --jou-color: rgb(255, 138, 218);
}

h1 {
    font-size: 20px;
    margin-bottom: 0;
}

h2 {
    margin: 0;
}

body {
    background-color: var(--jou-black);
    margin: 0;
    font-family: Tajawal;
    font-weight: 200;
}

p {
    margin: 0;
    padding-top: 0.5rem;
    font-size: 15px;
    color: var(--jou-neutral-3);
    word-break: break-word;
}

footer {
    margin: 0.25rem 0;
    font-size: 12px;
    color: var(--jou-neutral-3);
    word-break: break-word;
}

a {
    color: var(--jou-black);
    text-decoration: none;
}

label {
    color: var(--jou-neutral-4);
    font-size: 14px;
    font-weight: 300;
}

input {
    height: 50px;
}

textarea {
    min-width: 100%;
    min-height: 10rem;
}

input,
textarea,
select {
    font-family: Tajawal;
    background-color: var(--jou-neutral-1-transparent);
    border-radius: 5px;
    border: 1px solid var(--jou-neutral-1);
    width: 100%;
    max-width: 100%;
    font-size: 17px;
    padding: 0.5rem;
    color: var(--jou-neutral-4);
    margin-top: 0.25rem;
}

.jou-input {
    margin-top: 1rem;
}

.btn-primary {
    background-color: var(--jou-color);
    color: var(--jou-black);
    font-size: 20px;
    border: 1px solid var(--jou-neutral-2-transparent);
    border-radius: 5px;
    width: calc(100vw - 2rem);
    height: 50px;
    cursor: pointer;
    font-family: Tajawal;
}

.hidden {
    display: none;
}

.hide {
    visibility: hidden;
}

.no-scroll {
    overflow: hidden;
}

.icon {
    stroke: var(--jou-color);
}


/* home */

.pag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pag-btn {
    cursor: pointer;
    width: 20px;
    margin: 0 0.5rem;
    background-color: var(--jou-neutral-1-transparent);
    stroke: var(--jou-color);
    padding: 0.5rem;
    border-radius: 99rem;
}

.header-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1.5rem;
}

.subheader {
    font-size: 13px;
    color: var(--jou-neutral-2);
    font-weight: 200;
    padding-top: 0.75rem;
    letter-spacing: 0.5px;
    font-style: italic;
}

.title-block {
    display: flex;
    align-items: center;
}

.header {
    font-size: 45px;
    font-family: Parisienne;
    color: var(--jou-color);
    font-weight: 100;
    margin-top: 0;
}

.main-btn-container {
    display: flex;
    flex-direction: column;
}

.home-actions {
    display: flex;
    justify-content: flex-end;
    width: calc(100vw - 2rem);
}

.add-new-btn {
    margin-top: 1.5rem;
}

.favorites-btn {
    align-self: flex-end;
    padding: 1rem;
}

.filter-btn {
    align-self: flex-end;
    padding: 1rem;
}

.filters-modal {
    position: absolute;
    height: 90vh;
    width: 100%;
    background-color: var(--jou-neutral-1-transparent);
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.home-content.filters-open {
    filter: blur(20px);
}

.close-btn {
    stroke: var(--jou-white);
    align-self: flex-end;
    margin-right: 2.5rem;
    opacity: 0.7;
    padding-top: 2rem;
}

.screen-height-cap {
    overflow: hidden;
    max-height: 90vh;
}

.search-input {
    padding-left: 3.5rem;
}

.search-icon {
    position: absolute;
    padding-left: 1rem;
}

.input-search-container {
    display: flex;
    align-items: center;
    width: calc(100vw - 2rem);
}


/* upsert entry */

.heart-upsert-container {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0.5rem;
}

.input-row {
    display: flex;
}

.time-input {
    width: calc(100% - 0.5rem);
}

.date-input {
    width: 43vw;
}

.save-btn {
    margin-top: 5rem;
    align-self: center;
}

.save-btn-toast {
    margin-left: 2rem;
    margin-top: 1rem;
}

.inputs-container {
    padding: 0 1rem;
}

.am-pm {
    width: 20vw;
    height: 3.125rem;
    margin-top: 2.3rem;
    margin-right: 0.5rem;
}


/* entry */

.date-time {
    display: flex;
    font-size: 13px;
    font-weight: 200;
}

.entry-container {
    width: calc(100vw - 2rem);
    padding: 1rem;
}

.entry-container:nth-child(odd) {
    background: var(--jou-neutral-1-transparent);
}

.entry-container:nth-child(even) {
    background: var(--jou-neutral-1);
}

.entry {
    padding-top: 1.5rem;
    font-weight: 300;
}

.title {
    color: var(--jou-neutral-4);
}

.entry-line {
    padding: 0;
    font-weight: 300;
}

.entry-line-spacer {
    padding: 0 0 1rem 0;
}

.separator {
    padding: 0 0.25rem;
}

.title,
.time,
.entry,
.song {
    word-break: break-word;
}

.title.listing,
.time.listing,
.entry.listing,
.song.listing {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.title.listing,
.entry.listing,
.song.listing {
    margin-left: 0.5rem;
}

.heart {
    float: right;
}

.home-btn {
    height: 35px;
    width: auto;
    padding: 0.5rem 1rem;
}

.main-bg {
    background: var(--jou-neutral-1);
}

.entry-top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.entry-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 2rem;
    width: 40%;
}

.pag-btn {
    width: 40px;
    height: auto;
}

.days-of-week {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 1rem;
    color: var(--jou-neutral-4);
    font-weight: 300;
}

.current-day-of-week {
    color: var(--jou-color);
    text-decoration: underline;
}